# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
# Media files
media/
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.whl

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Poetry
poetry.lock

# Virtual environment
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/

# Alembic / Migrations
alembic/versions/*.pyc
alembic/versions/__pycache__/

# Database
# Исключаем SQLite (если вдруг остался)
*.db
*.sqlite3
# Исключаем локальные дампы PostgreSQL
*.dump
*.sql

# Environment variables
.env
.env.*.local

# Logs
*.log
logs/
*.out

# Python coverage
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# Temporary files
*.tmp
*.bak
*.swp
*~
