version: "3.9"

services:
  web:
    build:
      context: ..
      dockerfile: deploy/Dockerfile
    command: make start
    env_file:
      - .env.development
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: swipe_ua

    ports:
      - "80:80"
    depends_on:
      - db
      - redis

  celery_worker:
    build:
      context: ..
      dockerfile: deploy/Dockerfile
    command: celery -A config.infra.utils.celery_app.celery_app worker -l info
    env_file:
      - .env.development
    environment:
      - REDIS_HOST=redis
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/1
    depends_on:
      - db
      - redis

  redis:
    image: redis:7
    restart: always

  db:
    image: postgres:15
    restart: always
    env_file:
      - .env.development
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:


